@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
}

html,
body,
#__next {
  height: 100%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

